Package: PACKAGE
Version: HOVERSION-SVNREV
Section: games
Priority: optional
Architecture: all
Installed-Size: 7000
Maintainer: Bingeling <blaghaid@gmail.com>
Homepage: http://sourceforge.net/projects/ho1/
Description: HattrickOrganizer!
 .
 A manager assistent for the online football manager
 http://www.hattrick.org
 .
Depends: sun-java5-jre | sun-java6-jre | openjdk-6-jre
